name: cron
on:
  schedule:
    - cron: '0 * * * *'
  push:
    branches:
      - master
  workflow_dispatch:

concurrency:
  group: cron
  cancel-in-progress: true

jobs:
  cron:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Python dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install -r ./requirements.txt

      - name: Run Sync
        run: |
          python3 main.py

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "feat: updating prices"